VITE_TELEGRAM_BOT_1_TOKEN=""
VITE_TELEGRAM_CHAT_1_ID=""

VITE_TELEGRAM_BOT_2_TOKEN=""
VITE_TELEGRAM_CHAT_2_ID=""

BEDROCK_MODEL_ID=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
VITE_CLERK_PUBLISHABLE_KEY=